h1 {
    color: white;
    margin-left: 140px;
}

.card {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: rgb(34, 34, 34);
}

#name {
    color: white;

    padding-top: 30px;
    padding-left: 30px;
}

#username {
    color: rgb(212, 211, 211);
    padding-left: 30px;

}

#img {
    margin-left: 20px;

}

#sottotitolo {
    color: rgb(212, 211, 211);

}